.custom-submit{
    padding:15px;
}

.custom-padding{
    padding: 7px;
}

.content-wrapper > .content {
    padding: 0 1.5rem;
}


.form-control-sm {
    height: calc(2.8125rem + 2px);
    padding: .25rem .5rem;
    font-size: 1.875rem;
    border-radius: .2rem;
}

.login-box, .register-box {
    width: 100%;
}

.register-page {
    align-items: center;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.custom-add-member-button{
    height: 100%;
    margin: 0px 12px 0px 0px;
}

.input-group>.custom-input{
    height: 100px;
}


.input-group-sm>.form-control:not(textarea), .input-group-sm>.custom-select {
    height: calc(6.8125rem + 2px);
    font-size: 25px;
    padding-left: 27px;
    letter-spacing: 3px;


}

#customForm {
    display: flex;
    flex-flow: row wrap;
}
 
#customForm fieldset {
    flex: 1;
    border: 1px solid #aaa;
    margin: 0.5em;
}
 
#customForm fieldset legend {
    padding: 5px 20px;
    border: 1px solid #aaa;
    font-weight: bold;
}
 
#customForm fieldset.name {
    flex: 2 100%;
}
 
#customForm fieldset.name legend {
    background: #bfffbf;
}
 
#customForm fieldset.office legend {
    background: #ffffbf;
}
 
#customForm fieldset.hr legend {
    background: #ffbfbf;
}
 
#customForm div.DTE_Field {
    padding: 5px;
}



.member_info{
    font-weight: 200;
    font-family: ui-sans-serif;
    letter-spacing: 0.7px;
    font-size: 24px;
    color: #e83e8c;
}

.member_info_from{
    margin: 0px;
    text-align: left;
}

@media (min-width: 576px){
    .modal-dialog {
        max-width: 75%;
        margin: 1.75rem auto;
    }
}
