.custom-submit{
    padding:15px;
}

.custom-padding{
    padding: 7px;
}

.content-wrapper > .content {
    padding: 0 1.5rem;
}


.form-control-sm {
    height: calc(2.8125rem + 2px);
    padding: .25rem .5rem;
    font-size: 1.875rem;
    border-radius: .2rem;
}

.login-box, .register-box {
    width: 100%;
}

.register-page {
    align-items: center;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.custom-add-member-button{
    height: 100%;
    margin: 0px 12px 0px 0px;
}

.input-group>.custom-input{
    height: 100px;
}


.input-group-sm>.form-control:not(textarea), .input-group-sm>.custom-select {
    height: calc(6.8125rem + 2px);
    font-size: 25px;
    padding-left: 27px;
    letter-spacing: 3px;


}


[class*=sidebar-dark-] {
    background-color: #264653;
}

.navbar-white {
    background-color: #264653;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(255 255 255);
}


.bg-red {
    background-color: #E76F51 !important;
    border-color: #E76F51 !important;;
}


.bg-green {
    background-color: #2A9D8F !important;
}


.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
    background-color: #47829a;
    color: #ffffff;
}


.btn-success {
    color: #fff;
    background-color: #1a6158;
    border-color: #1a6158;
}


.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #d2660f;
    border-color: #d2660f;
}


.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: 1px solid #111;
    background-color: #585858;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
    background: -webkit-linear-gradient(top, #585858 0%, #111 100%);
    background: -moz-linear-gradient(top, #585858 0%, #111 100%);
    background: -ms-linear-gradient(top, #585858 0%, #111 100%);
    background: -o-linear-gradient(top, #585858 0%, #111 100%);
    background: linear-gradient(to bottom, #d2660f 0%, #5F2F07 100%);
}

.btn-primary {
    color: #fff;
    background-color: #47829a;
    border-color: #47829a;
}

.btn-primary:hover {
    color: #fff;
    background-color: #1e445a;
    border-color: #214061;
}


.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    background: #3c6271ed;
    color: #fff;
}













#customForm {
    display: flex;
    flex-flow: row wrap;
}
 
#customForm fieldset {
    flex: 1;
    border: 1px solid #aaa;
    margin: 0.5em;
}
 
#customForm fieldset legend {
    padding: 5px 20px;
    border: 1px solid #aaa;
    font-weight: bold;
}
 
#customForm fieldset.name {
    flex: 2 100%;
}
 
#customForm fieldset.name legend {
    background: #bfffbf;
}
 
#customForm fieldset.office legend {
    background: #ffffbf;
}
 
#customForm fieldset.hr legend {
    background: #ffbfbf;
}
 
#customForm div.DTE_Field {
    padding: 5px;
}



.member_info{
    font-weight: 200;
    font-family: ui-sans-serif;
    letter-spacing: 0.7px;
    font-size: 24px;
    color: #e83e8c;
}

.member_info_from{
    margin: 0px;
    text-align: left;
}

@media (min-width: 576px){
    .modal-dialog {
        max-width: 75%;
        margin: 1.75rem auto;
    }
}
